* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "Andale Mono", Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

#map {
    height: 80%;
}

#save-widget {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    margin: 15px;
}